<!DOCTYPE html>
<html>
  <head>
    <title>Todo40363</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
        <h1><a href="/" class="header__name">Task App</a></h1>
      </div>
      <% if user_signed_in? %>
      <div class="logout">
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout__link"%>
      </div>
      <% end %>
    </header>

    <%= yield %>

    <footer class="footer">
      <p class="footer__text">
        Task App 2024.
      </p>
    </footer>

  </body>
</html>
